[submodule "external/gdstk"]
	path = external/gdstk
	url = https://github.com/heitzmann/gdstk
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "external/nlohmann_json"]
	path = external/nlohmann_json
	url = https://github.com/nlohmann/json.git
